<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JoinFood後台-@ViewBag.Title</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Mystyle.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
				<a class="navbar-brand text-bolder" href="#">JoinFood後台</a>
                @*@Html.ActionLink("JoinFood後台", "Index", "Customers", new { area = "" }, new { @class = "navbar-brand text-bolder" })*@
            </div>
            <div class="navbar-collapse collapse text-right">
				<ul class="nav navbar-nav">
					@if (Session["adminID"] == null)
					{
						<li> @Html.ActionLink("登入", "Login", "Manager")</li>
					}
					else
					{
						<li> @Html.ActionLink("客戶管理", "MembersIndex", "Manager")</li>
						<li> @Html.ActionLink("店家管理", "SuppliersIndex", "Manager")</li>
						<li> @Html.ActionLink("訂單列表", "OrdersIndex", "Manager")</li>
						<li> @Html.ActionLink("推播列表", "AdminNotificationIndex", "Manager")</li>
						if (Session["highest"] != null)
						{
							<li> @Html.ActionLink("管理員管理", "AdminManagementIndex", "Manager")</li>
						}
						<li> @Html.ActionLink("帳號資料", "AdminDetails", "Manager", new { id = Session["adminID"] }, "")</li>
						<li> @Html.ActionLink("登出", "Logout", "Manager")</li>
					}
				</ul>
            </div>
     </div>

    <div class="container body-content well">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year-勞動力發展署高屏澎東分署110年第一期行動商務系統設計與開發專班-第四組</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @RenderSection("scripts",false)
</body>
</html>