@model IEnumerable<FoodProject.Models.AdminMessage>
@using PagedList;
@using PagedList.Mvc;

@{
	ViewBag.Title = "推播管理-系統";
}

<h2><strong>推播管理-系統</strong></h2>

<p class="text-right">
	<a href="/Suppliers/AdminNotificationIndex" class="btn">
		查看系統推播
		<span class="adminUnread">@{Html.RenderAction("_getUnread");}</span>
	</a>|
	@Html.ActionLink("查看本店推播", "NotificationIndex", new { id = Session["supID"] }, new { @class = "btn" })
</p>

<table class="table">
	<tr class="bg-info">
		<th>
			@Html.DisplayNameFor(model => model.StartDate)
		</th>
		<th>
			內容
		</th>
		<th></th>
	</tr>

	@foreach (var item in Model)
	{
		<tr class="msg">
			<td>
				@Html.DisplayFor(modelItem => item.StartDate)
			</td>	
			<td>
				@Html.Raw(item.AMessage.ToString().Replace("\r\n", "<br />"))
			</td>
			<td class="text-center">
				<button class="btn btn-danger">刪除</button>
			</td>
			<td class="hidden" title="@item.MessageID"></td>
		</tr>
	}

</table>
@Html.AntiForgeryToken()

<h2 class="text-center">@ViewBag.NoData</h2>

<div class="text-center">
	@Html.PagedListPager((IPagedList)Model, page => Url.Action("AdminNotificationIndex", new { page }))
</div>

@section Scripts {
	<script>
		let token = $('input[name="__RequestVerificationToken"]').val();
		let mids = [];
		let msgs = $('.msg');

		if (msgs.length > 0) {
			msgs.each(function () {
				let msgID = parseInt($(this).find('.hidden').attr('title'));
				mids.push(msgID);
			}).promise().done(function () {
				$.ajax({
					url: '/Suppliers/AdminNotificationRead',
					type: 'POST',
					data: { id: mids, page: @ViewBag.page, __RequestVerificationToken: token },
					success: function () { },
					error: function () { alert('error'); }
				});
			});
		}

		$('.btn-danger').click(function () {
			let msg = $(this).closest('.msg');
			let msgID = parseInt(msg.find('.hidden').attr('title'));

			if (confirm("確定刪除此則推播訊息?")) {
				$.ajax({
					url: '/Suppliers/AdminNotificationDelete',
					type: 'POST',
					data: { id: msgID, page: @ViewBag.page, __RequestVerificationToken: token },
					success: function () {
						location.reload();
					},
					error: function () { alert(); }
				});
			}
		});
	</script>
}