@model IEnumerable<FoodProject.Models.Suppliers>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.SupplierName)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.SCellphone)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.SPhone)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.SEmail)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.SCity)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.SDistrict)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.SRoad)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.BusinessHour)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.SAuthority)
		</th>
		<th></th>
	</tr>

	@foreach (var item in Model)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.SupplierName)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.SCellphone)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.SPhone)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.SEmail)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.SCity)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.SDistrict)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.SRoad)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.BusinessHour)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.SAuthority)
			</td>
			<td>
				@Html.ActionLink("Edit", "Edit", new { id = item.SupplierID }) |
				@Html.ActionLink("Details", "Details", new { id = item.SupplierID }) |
				@Html.ActionLink("Delete", "Delete", new { id = item.SupplierID })
			</td>
		</tr>
	}
</table>
